<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRM</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/controlcss")
    @Styles.Render("~/Content/dynatable/dynatableloading.css")
    @Styles.Render("~/Content/dynatable/jquery.dynatable.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("css", false)

    @{
        string admin = User.Identity.Name.Split('|')[2];
    }
</head>
<body>
    <!-- Menu vertical APM -->
    <div class="row affix-row">
        <!--menu-->
        <div class="col-sm-3 col-md-2 affix-sidebar">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Sidebar menu</span>
                    </div>
                    <!--nav-collapse -->
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                        <ul class="nav navbar-nav" id="sidenav01">
                            <li class="active">
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                                    <h4>
                                        Panel de control
                                        <br>
                                        <small>@User.Identity.Name.Split('|')[0] <span class="caret"></span></small>
                                    </h4>
                                </a>
                                <div class="collapse" id="toggleDemo0" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        @*<li><a href="#">Perfil</a></li>
                                        <li>@Html.ActionLink("Configuracion", "LogOut", "Login")</li>*@
                                        <li>@Html.ActionLink("Cerrar Sesion", "LogOut", "Login")</li>
                                    </ul>
                                </div>
                            </li>

                            @if (admin == "1")
                            {
                                <li> <a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> &nbsp; Inicio </a></li>
                                <li><a href="/Users/Register"><span class="glyphicon glyphicon-user"></span> &nbsp; Usuarios </a></li>
                                <li><a href="/Users/Permisos"><span class="glyphicon glyphicon-lock"></span> &nbsp; Permisos</a></li>
                                <li><a href="/Departments/Index"><span class="glyphicon glyphicon-list"></span> &nbsp; Departamentos</a></li>
                                <li><a href="/Concepts/Index"><span class="glyphicon glyphicon-info-sign"></span> &nbsp; Conceptos</a></li>
                            }
                            else
                            {
                                <li> <a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> &nbsp; Inicio </a></li>
                            }

                            @*<li>
                                <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">
                                    <span class="glyphicon glyphicon-cloud"></span> Submenu 1 <span class="caret pull-right"></span>
                                </a>
                                <div class="collapse" id="toggleDemo" style="height: 0px;">
                                    <ul class="nav nav-list">
                                        <li><a href="#">Submenu1.1</a></li>
                                        <li><a href="#">Submenu1.2</a></li>
                                        <li><a href="#">Submenu1.3</a></li>
                                    </ul>
                                </div>
                            </li>*@
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!--contenido-->
        <div class="col-sm-9 col-md-10 affix-content">
            <div class="container body-content">
                <!--Titulo de la pestaña-->
                <div class="page-header">
                    <h3><span class="glyphicon glyphicon-th-list"></span> @ViewBag.Title</h3>
                </div>

                <!--Render-->
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Sistemas en Punto</p>
    </footer>

    @Scripts.Render("~/bundles/jqueryjs")
    @Scripts.Render("~/bundles/controljs")
    @Scripts.Render("~/Content/underscore/underscore-min.js")
    @Scripts.Render("~/Content/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/Content/Notify_bootstrap/bootstrap-notify.js")
    @Scripts.Render("~/Content/jqueryvalidation/jquery-validate.js")
    @Scripts.Render("~/Content/lz_string/libs/lz-string.js")
    @RenderSection("scripts", required: false)
</body>
</html>
