@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/controlcss")
    @Styles.Render("~/Content/css/login.css")
</head>

<body>
    <div class="row">

        <!--
        you can substitue the span of reauth email for a input with the email and
        include the remember me checkbox
        -->
        <div class="container">
            <div class="card card-container">

                @{
                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Message
                        </div>
                    }

                }

                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" action="/Login/Authorize" method="post">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" id="user" name="user" class="form-control" placeholder="Usuario" required autofocus>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Recordar
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar sesion</button>
                </form><!-- /form -->
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
            </div><!-- /card-container -->
        </div><!-- /container -->
    </div>

    @Scripts.Render("~/bundles/jqueryjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/jsmethods/login.js")
</body>
</html>